<a href="https://colab.research.google.com/github/tya2aa2/TYAPROJECT-/blob/main/Machine_Learning_for_Marketing_Customer_Segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

By Adhitya Melani Eka Janarwati (INPROGRESS)

In [ ]:
import requests
import pandas as pd

# URL dari file dataset
url = "https://storage.googleapis.com/dqlab-dataset/customer_segments.txt"

# Mengunduh data dari URL
response = requests.get(url)

# Memastikan request berhasil
if response.status_code == 200:
    # Membaca data yang diunduh sebagai teks
    data = response.text

    # Menyimpan data ke file sementara
    with open('customer_segments.txt', 'w') as file:
        file.write(data)

    # Membaca data tersebut menggunakan pandas
    pelanggan = pd.read_csv('customer_segments.txt', sep='\t')  # Sesuaikan delimiter jika perlu

    # Menyimpan ke file CSV
    pelanggan.to_csv('customer_segments.csv', index=False)
    print("File berhasil diunduh dan disimpan sebagai CSV.")
else:
    print("Gagal mengunduh file. Status kode:", response.status_code)

File berhasil diunduh dan disimpan sebagai CSV.

In [ ]:
pelanggan

,Customer_ID,Nama Pelanggan,Jenis Kelamin,Umur,Profesi,Tipe Residen,NilaiBelanjaSetahun
0,CUST-001,Budi Anggara,Pria,58,Wiraswasta,Sector,9497927
1,CUST-002,Shirley Ratuwati,Wanita,14,Pelajar,Cluster,2722700
2,CUST-003,Agus Cahyono,Pria,48,Professional,Cluster,5286429
3,CUST-004,Antonius Winarta,Pria,53,Professional,Cluster,5204498
4,CUST-005,"Ibu Sri Wahyuni, IR",Wanita,41,Wiraswasta,Cluster,10615206
5,CUST-006,Rosalina Kurnia,Wanita,24,Professional,Cluster,5215541
6,CUST-007,"Cahyono, Agus",Pria,64,Wiraswasta,Sector,9837260
7,CUST-008,Danang Santosa,Pria,52,Professional,Cluster,5223569
8,CUST-009,Elisabeth Suryadinata,Wanita,29,Professional,Sector,5993218
9,CUST-010,Mario Setiawan,Pria,33,Professional,Cluster,5257448
10,CUST-011,Maria Suryawan,Wanita,50,Professional,Sector,5987367
11,CUST-012,Erliana Widjaja,Wanita,49,Professional,Sector,5941914
12,CUST-013,Cahaya Putri,Wanita,64,Wiraswasta,Cluster,9333168
13,CUST-014,Mario Setiawan,Pria,60,Wiraswasta,Cluster,9471615
14,CUST-015,Shirley Ratuwati,Wanita,20,Wiraswasta,Cluster,10365668
15,CUST-016,Bambang Rudi,Pria,35,Professional,Cluster,5262521
16,CUST-017,Yuni Sari,Wanita,32,Ibu Rumah Tangga,Cluster,5677762
17,CUST-018,Nelly Halim,Wanita,63,Ibu Rumah Tangga,Cluster,5340690
18,CUST-019,Mega Pranoto,Wanita,32,Wiraswasta,Cluster,10884508
19,CUST-020,Irene Novianto,Wanita,16,Pelajar,Sector,2896845
20,CUST-021,Lestari Fabianto,Wanita,38,Wiraswasta,Cluster,9222070
21,CUST-022,Novita Purba,Wanita,52,Professional,Cluster,5298157
22,CUST-023,Denny Amiruddin,Pria,34,Professional,Cluster,5239290
23,CUST-024,Putri Ginting,Wanita,39,Wiraswasta,Cluster,10259572
24,CUST-025,Julia Setiawan,Wanita,29,Wiraswasta,Sector,10721998
25,CUST-026,Christine Winarto,Wanita,55,Professional,Cluster,5269392
26,CUST-027,Grace Mulyati,Wanita,35,Wiraswasta,Cluster,9114159
27,CUST-028,Adeline Huang,Wanita,40,Ibu Rumah Tangga,Cluster,6631680
28,CUST-029,Tia Hartanti,Wanita,56,Professional,Cluster,5271845
29,CUST-030,Rosita Saragih,Wanita,46,Ibu Rumah Tangga,Sector,5020976
30,CUST-031,Eviana Handry,Wanita,19,Mahasiswa,Cluster,3042773
31,CUST-032,Chintya Winarni,Wanita,47,Wiraswasta,Sector,10663179
32,CUST-033,Cecilia Kusnadi,Wanita,19,Mahasiswa,Cluster,3047926
33,CUST-034,Deasy Arisandi,Wanita,21,Wiraswasta,Sector,9759822
34,CUST-035,Ida Ayu,Wanita,39,Professional,Sector,5962575
35,CUST-036,Ni Made Suasti,Wanita,30,Wiraswasta,Cluster,9678994
36,CUST-037,Felicia Tandiono,Wanita,25,Professional,Sector,5972787
37,CUST-038,Agatha Salim,Wanita,46,Wiraswasta,Sector,10477127
38,CUST-039,Gina Hidayat,Wanita,20,Professional,Cluster,5257775
39,CUST-040,Irene Darmawan,Wanita,14,Pelajar,Sector,2861855
40,CUST-041,Shinta Aritonang,Wanita,24,Ibu Rumah Tangga,Cluster,6820976
41,CUST-042,Yuliana Wati,Wanita,26,Wiraswasta,Cluster,9880607
42,CUST-043,Yenna Sumadi,Wanita,31,Professional,Cluster,5268410
43,CUST-044,Anna,Wanita,18,Wiraswasta,Cluster,9339737
44,CUST-045,Rismawati Juni,Wanita,22,Professional,Cluster,5211041
45,CUST-046,Elfira Surya,Wanita,25,Wiraswasta,Sector,10099807
46,CUST-047,Mira Kurnia,Wanita,55,Ibu Rumah Tangga,Cluster,6130724
47,CUST-048,Maria Hutagalung,Wanita,45,Wiraswasta,Sector,10390732
48,CUST-049,Josephine Wahab,Wanita,33,Ibu Rumah Tangga,Sector,4992585
49,CUST-050,Lianna Nugraha,Wanita,55,Wiraswasta,Sector,10569316

In [ ]:
# Menampilkan kolom 'Jenis.Kelamin', 'Umur', 'Profesi', dan 'Tipe.Residen'
print(pelanggan[["Jenis Kelamin", "Umur", "Profesi", "Tipe Residen"]])

   Jenis Kelamin  Umur           Profesi Tipe Residen
0           Pria    58        Wiraswasta       Sector
1         Wanita    14           Pelajar      Cluster
2           Pria    48      Professional      Cluster
3           Pria    53      Professional      Cluster
4         Wanita    41        Wiraswasta      Cluster
5         Wanita    24      Professional      Cluster
6           Pria    64        Wiraswasta       Sector
7           Pria    52      Professional      Cluster
8         Wanita    29      Professional       Sector
9           Pria    33      Professional      Cluster
10        Wanita    50      Professional       Sector
11        Wanita    49      Professional       Sector
12        Wanita    64        Wiraswasta      Cluster
13          Pria    60        Wiraswasta      Cluster
14        Wanita    20        Wiraswasta      Cluster
15          Pria    35      Professional      Cluster
16        Wanita    32  Ibu Rumah Tangga      Cluster
17        Wanita    63  Ibu Rumah Tangga      Cluster
18        Wanita    32        Wiraswasta      Cluster
19        Wanita    16           Pelajar       Sector
20        Wanita    38        Wiraswasta      Cluster
21        Wanita    52      Professional      Cluster
22          Pria    34      Professional      Cluster
23        Wanita    39        Wiraswasta      Cluster
24        Wanita    29        Wiraswasta       Sector
25        Wanita    55      Professional      Cluster
26        Wanita    35        Wiraswasta      Cluster
27        Wanita    40  Ibu Rumah Tangga      Cluster
28        Wanita    56      Professional      Cluster
29        Wanita    46  Ibu Rumah Tangga       Sector
30        Wanita    19         Mahasiswa      Cluster
31        Wanita    47        Wiraswasta       Sector
32        Wanita    19         Mahasiswa      Cluster
33        Wanita    21        Wiraswasta       Sector
34        Wanita    39      Professional       Sector
35        Wanita    30        Wiraswasta      Cluster
36        Wanita    25      Professional       Sector
37        Wanita    46        Wiraswasta       Sector
38        Wanita    20      Professional      Cluster
39        Wanita    14           Pelajar       Sector
40        Wanita    24  Ibu Rumah Tangga      Cluster
41        Wanita    26        Wiraswasta      Cluster
42        Wanita    31      Professional      Cluster
43        Wanita    18        Wiraswasta      Cluster
44        Wanita    22      Professional      Cluster
45        Wanita    25        Wiraswasta       Sector
46        Wanita    55  Ibu Rumah Tangga      Cluster
47        Wanita    45        Wiraswasta       Sector
48        Wanita    33  Ibu Rumah Tangga       Sector
49        Wanita    55        Wiraswasta       Sector

In [ ]:
field_yang_digunakan = ["Jenis Kelamin", "Umur", "Profesi"]
print(pelanggan[field_yang_digunakan])

   Jenis Kelamin  Umur           Profesi
0           Pria    58        Wiraswasta
1         Wanita    14           Pelajar
2           Pria    48      Professional
3           Pria    53      Professional
4         Wanita    41        Wiraswasta
5         Wanita    24      Professional
6           Pria    64        Wiraswasta
7           Pria    52      Professional
8         Wanita    29      Professional
9           Pria    33      Professional
10        Wanita    50      Professional
11        Wanita    49      Professional
12        Wanita    64        Wiraswasta
13          Pria    60        Wiraswasta
14        Wanita    20        Wiraswasta
15          Pria    35      Professional
16        Wanita    32  Ibu Rumah Tangga
17        Wanita    63  Ibu Rumah Tangga
18        Wanita    32        Wiraswasta
19        Wanita    16           Pelajar
20        Wanita    38        Wiraswasta
21        Wanita    52      Professional
22          Pria    34      Professional
23        Wanita    39        Wiraswasta
24        Wanita    29        Wiraswasta
25        Wanita    55      Professional
26        Wanita    35        Wiraswasta
27        Wanita    40  Ibu Rumah Tangga
28        Wanita    56      Professional
29        Wanita    46  Ibu Rumah Tangga
30        Wanita    19         Mahasiswa
31        Wanita    47        Wiraswasta
32        Wanita    19         Mahasiswa
33        Wanita    21        Wiraswasta
34        Wanita    39      Professional
35        Wanita    30        Wiraswasta
36        Wanita    25      Professional
37        Wanita    46        Wiraswasta
38        Wanita    20      Professional
39        Wanita    14           Pelajar
40        Wanita    24  Ibu Rumah Tangga
41        Wanita    26        Wiraswasta
42        Wanita    31      Professional
43        Wanita    18        Wiraswasta
44        Wanita    22      Professional
45        Wanita    25        Wiraswasta
46        Wanita    55  Ibu Rumah Tangga
47        Wanita    45        Wiraswasta
48        Wanita    33  Ibu Rumah Tangga
49        Wanita    55        Wiraswasta

In [ ]:
#Mengubah data string ke numerik
pelanggan.loc[pelanggan['Jenis Kelamin'].str.contains('Pria'),'Jenis Kelamin1'] = '1'
pelanggan.loc[pelanggan['Jenis Kelamin'].str.contains('Wanita'),'Jenis Kelamin1'] = '2'
pelanggan.loc[pelanggan['Profesi'].str.contains('Pelajar'),'Profesi1'] = '3'
pelanggan.loc[pelanggan['Profesi'].str.contains('Professional'),'Profesi1'] = '4'
pelanggan.loc[pelanggan['Profesi'].str.contains('Wiraswasta'),'Profesi1'] = '5'
pelanggan.loc[pelanggan['Profesi'].str.contains('Ibu Rumah Tangga'),'Profesi1'] = '6'
pelanggan.loc[pelanggan['Profesi'].str.contains('Mahasiswa'),'Profesi1'] = '7'
pelanggan.loc[pelanggan['Tipe Residen'].str.contains('Sector'),'Tipe Residen1'] = '8'
pelanggan.loc[pelanggan['Tipe Residen'].str.contains('Cluster'),'Tipe Residen1'] = '9'

In [ ]:
pelanggan

,Customer_ID,Nama Pelanggan,Jenis Kelamin,Umur,Profesi,Tipe Residen,NilaiBelanjaSetahun,Jenis Kelamin1,Profesi1,Tipe Residen1
0,CUST-001,Budi Anggara,Pria,58,Wiraswasta,Sector,9497927,1,5,8
1,CUST-002,Shirley Ratuwati,Wanita,14,Pelajar,Cluster,2722700,2,3,9
2,CUST-003,Agus Cahyono,Pria,48,Professional,Cluster,5286429,1,4,9
3,CUST-004,Antonius Winarta,Pria,53,Professional,Cluster,5204498,1,4,9
4,CUST-005,"Ibu Sri Wahyuni, IR",Wanita,41,Wiraswasta,Cluster,10615206,2,5,9
5,CUST-006,Rosalina Kurnia,Wanita,24,Professional,Cluster,5215541,2,4,9
6,CUST-007,"Cahyono, Agus",Pria,64,Wiraswasta,Sector,9837260,1,5,8
7,CUST-008,Danang Santosa,Pria,52,Professional,Cluster,5223569,1,4,9
8,CUST-009,Elisabeth Suryadinata,Wanita,29,Professional,Sector,5993218,2,4,8
9,CUST-010,Mario Setiawan,Pria,33,Professional,Cluster,5257448,1,4,9
10,CUST-011,Maria Suryawan,Wanita,50,Professional,Sector,5987367,2,4,8
11,CUST-012,Erliana Widjaja,Wanita,49,Professional,Sector,5941914,2,4,8
12,CUST-013,Cahaya Putri,Wanita,64,Wiraswasta,Cluster,9333168,2,5,9
13,CUST-014,Mario Setiawan,Pria,60,Wiraswasta,Cluster,9471615,1,5,9
14,CUST-015,Shirley Ratuwati,Wanita,20,Wiraswasta,Cluster,10365668,2,5,9
15,CUST-016,Bambang Rudi,Pria,35,Professional,Cluster,5262521,1,4,9
16,CUST-017,Yuni Sari,Wanita,32,Ibu Rumah Tangga,Cluster,5677762,2,6,9
17,CUST-018,Nelly Halim,Wanita,63,Ibu Rumah Tangga,Cluster,5340690,2,6,9
18,CUST-019,Mega Pranoto,Wanita,32,Wiraswasta,Cluster,10884508,2,5,9
19,CUST-020,Irene Novianto,Wanita,16,Pelajar,Sector,2896845,2,3,8
20,CUST-021,Lestari Fabianto,Wanita,38,Wiraswasta,Cluster,9222070,2,5,9
21,CUST-022,Novita Purba,Wanita,52,Professional,Cluster,5298157,2,4,9
22,CUST-023,Denny Amiruddin,Pria,34,Professional,Cluster,5239290,1,4,9
23,CUST-024,Putri Ginting,Wanita,39,Wiraswasta,Cluster,10259572,2,5,9
24,CUST-025,Julia Setiawan,Wanita,29,Wiraswasta,Sector,10721998,2,5,8
25,CUST-026,Christine Winarto,Wanita,55,Professional,Cluster,5269392,2,4,9
26,CUST-027,Grace Mulyati,Wanita,35,Wiraswasta,Cluster,9114159,2,5,9
27,CUST-028,Adeline Huang,Wanita,40,Ibu Rumah Tangga,Cluster,6631680,2,6,9
28,CUST-029,Tia Hartanti,Wanita,56,Professional,Cluster,5271845,2,4,9
29,CUST-030,Rosita Saragih,Wanita,46,Ibu Rumah Tangga,Sector,5020976,2,6,8
30,CUST-031,Eviana Handry,Wanita,19,Mahasiswa,Cluster,3042773,2,7,9
31,CUST-032,Chintya Winarni,Wanita,47,Wiraswasta,Sector,10663179,2,5,8
32,CUST-033,Cecilia Kusnadi,Wanita,19,Mahasiswa,Cluster,3047926,2,7,9
33,CUST-034,Deasy Arisandi,Wanita,21,Wiraswasta,Sector,9759822,2,5,8
34,CUST-035,Ida Ayu,Wanita,39,Professional,Sector,5962575,2,4,8
35,CUST-036,Ni Made Suasti,Wanita,30,Wiraswasta,Cluster,9678994,2,5,9
36,CUST-037,Felicia Tandiono,Wanita,25,Professional,Sector,5972787,2,4,8
37,CUST-038,Agatha Salim,Wanita,46,Wiraswasta,Sector,10477127,2,5,8
38,CUST-039,Gina Hidayat,Wanita,20,Professional,Cluster,5257775,2,4,9
39,CUST-040,Irene Darmawan,Wanita,14,Pelajar,Sector,2861855,2,3,8
40,CUST-041,Shinta Aritonang,Wanita,24,Ibu Rumah Tangga,Cluster,6820976,2,6,9
41,CUST-042,Yuliana Wati,Wanita,26,Wiraswasta,Cluster,9880607,2,5,9
42,CUST-043,Yenna Sumadi,Wanita,31,Professional,Cluster,5268410,2,4,9
43,CUST-044,Anna,Wanita,18,Wiraswasta,Cluster,9339737,2,5,9
44,CUST-045,Rismawati Juni,Wanita,22,Professional,Cluster,5211041,2,4,9
45,CUST-046,Elfira Surya,Wanita,25,Wiraswasta,Sector,10099807,2,5,8
46,CUST-047,Mira Kurnia,Wanita,55,Ibu Rumah Tangga,Cluster,6130724,2,6,9
47,CUST-048,Maria Hutagalung,Wanita,45,Wiraswasta,Sector,10390732,2,5,8
48,CUST-049,Josephine Wahab,Wanita,33,Ibu Rumah Tangga,Sector,4992585,2,6,8
49,CUST-050,Lianna Nugraha,Wanita,55,Wiraswasta,Sector,10569316,2,5,8

In [ ]:
# Konversi kolom tertentu menjadi matriks numerik menggunakan data dari DataFrame
pelanggan_matrix = pelanggan[["Jenis Kelamin1", "Profesi1", "Tipe Residen1"]].to_numpy()

print(pelanggan_matrix)

[['1' '5' '8']
 ['2' '3' '9']
 ['1' '4' '9']
 ['1' '4' '9']
 ['2' '5' '9']
 ['2' '4' '9']
 ['1' '5' '8']
 ['1' '4' '9']
 ['2' '4' '8']
 ['1' '4' '9']
 ['2' '4' '8']
 ['2' '4' '8']
 ['2' '5' '9']
 ['1' '5' '9']
 ['2' '5' '9']
 ['1' '4' '9']
 ['2' '6' '9']
 ['2' '6' '9']
 ['2' '5' '9']
 ['2' '3' '8']
 ['2' '5' '9']
 ['2' '4' '9']
 ['1' '4' '9']
 ['2' '5' '9']
 ['2' '5' '8']
 ['2' '4' '9']
 ['2' '5' '9']
 ['2' '6' '9']
 ['2' '4' '9']
 ['2' '6' '8']
 ['2' '7' '9']
 ['2' '5' '8']
 ['2' '7' '9']
 ['2' '5' '8']
 ['2' '4' '8']
 ['2' '5' '9']
 ['2' '4' '8']
 ['2' '5' '8']
 ['2' '4' '9']
 ['2' '3' '8']
 ['2' '6' '9']
 ['2' '5' '9']
 ['2' '4' '9']
 ['2' '5' '9']
 ['2' '4' '9']
 ['2' '5' '8']
 ['2' '6' '9']
 ['2' '5' '8']
 ['2' '6' '8']
 ['2' '5' '8']]

In [ ]:
# Konversi kolom tertentu menjadi matriks numerik menggunakan to_numpy()
pelanggan_matrix = pelanggan[["Jenis Kelamin1", "Profesi1", "Tipe Residen1"]].to_numpy()

# Membuat DataFrame dari pelanggan_matrix agar bisa digabungkan
pelanggan_matrix_df = pd.DataFrame(pelanggan_matrix, columns=["Jenis Kelamin1", "Profesi1", "Tipe Residen1"])

# Menggabungkan DataFrame asli dengan DataFrame numerik
pelanggan_combined = pd.concat([pelanggan, pelanggan_matrix_df], axis=1)

# Menampilkan data hasil penggabungan
print(pelanggan_combined)

   Customer_ID         Nama Pelanggan Jenis Kelamin  Umur           Profesi  \
0     CUST-001           Budi Anggara          Pria    58        Wiraswasta
1     CUST-002       Shirley Ratuwati        Wanita    14           Pelajar
2     CUST-003           Agus Cahyono          Pria    48      Professional
3     CUST-004       Antonius Winarta          Pria    53      Professional
4     CUST-005    Ibu Sri Wahyuni, IR        Wanita    41        Wiraswasta
5     CUST-006        Rosalina Kurnia        Wanita    24      Professional
6     CUST-007          Cahyono, Agus          Pria    64        Wiraswasta
7     CUST-008         Danang Santosa          Pria    52      Professional
8     CUST-009  Elisabeth Suryadinata        Wanita    29      Professional
9     CUST-010         Mario Setiawan          Pria    33      Professional
10    CUST-011         Maria Suryawan        Wanita    50      Professional
11    CUST-012        Erliana Widjaja        Wanita    49      Professional
12    CUST-013           Cahaya Putri        Wanita    64        Wiraswasta
13    CUST-014         Mario Setiawan          Pria    60        Wiraswasta
14    CUST-015       Shirley Ratuwati        Wanita    20        Wiraswasta
15    CUST-016           Bambang Rudi          Pria    35      Professional
16    CUST-017              Yuni Sari        Wanita    32  Ibu Rumah Tangga
17    CUST-018            Nelly Halim        Wanita    63  Ibu Rumah Tangga
18    CUST-019           Mega Pranoto        Wanita    32        Wiraswasta
19    CUST-020         Irene Novianto        Wanita    16           Pelajar
20    CUST-021       Lestari Fabianto        Wanita    38        Wiraswasta
21    CUST-022           Novita Purba        Wanita    52      Professional
22    CUST-023        Denny Amiruddin          Pria    34      Professional
23    CUST-024          Putri Ginting        Wanita    39        Wiraswasta
24    CUST-025         Julia Setiawan        Wanita    29        Wiraswasta
25    CUST-026      Christine Winarto        Wanita    55      Professional
26    CUST-027          Grace Mulyati        Wanita    35        Wiraswasta
27    CUST-028          Adeline Huang        Wanita    40  Ibu Rumah Tangga
28    CUST-029           Tia Hartanti        Wanita    56      Professional
29    CUST-030         Rosita Saragih        Wanita    46  Ibu Rumah Tangga
30    CUST-031          Eviana Handry        Wanita    19         Mahasiswa
31    CUST-032        Chintya Winarni        Wanita    47        Wiraswasta
32    CUST-033        Cecilia Kusnadi        Wanita    19         Mahasiswa
33    CUST-034         Deasy Arisandi        Wanita    21        Wiraswasta
34    CUST-035                Ida Ayu        Wanita    39      Professional
35    CUST-036         Ni Made Suasti        Wanita    30        Wiraswasta
36    CUST-037       Felicia Tandiono        Wanita    25      Professional
37    CUST-038           Agatha Salim        Wanita    46        Wiraswasta
38    CUST-039           Gina Hidayat        Wanita    20      Professional
39    CUST-040         Irene Darmawan        Wanita    14           Pelajar
40    CUST-041       Shinta Aritonang        Wanita    24  Ibu Rumah Tangga
41    CUST-042           Yuliana Wati        Wanita    26        Wiraswasta
42    CUST-043           Yenna Sumadi        Wanita    31      Professional
43    CUST-044                   Anna        Wanita    18        Wiraswasta
44    CUST-045         Rismawati Juni        Wanita    22      Professional
45    CUST-046           Elfira Surya        Wanita    25        Wiraswasta
46    CUST-047            Mira Kurnia        Wanita    55  Ibu Rumah Tangga
47    CUST-048       Maria Hutagalung        Wanita    45        Wiraswasta
48    CUST-049        Josephine Wahab        Wanita    33  Ibu Rumah Tangga
49    CUST-050         Lianna Nugraha        Wanita    55        Wiraswasta

   Tipe Residen  NilaiBelanjaSetahun Jenis Kelamin1 Profesi1 Tipe Residen1  \
0        Sector              9497927              1        5             8
1       Cluster              2722700              2        3             9
2       Cluster              5286429              1        4             9
3       Cluster              5204498              1        4             9
4       Cluster             10615206              2        5             9
5       Cluster              5215541              2        4             9
6        Sector              9837260              1        5             8
7       Cluster              5223569              1        4             9
8        Sector              5993218              2        4             8
9       Cluster              5257448              1        4             9
10       Sector              5987367              2        4             8
11       Sector              5941914              2        4             8
12      Cluster              9333168              2        5             9
13      Cluster              9471615              1        5             9
14      Cluster             10365668              2        5             9
15      Cluster              5262521              1        4             9
16      Cluster              5677762              2        6             9
17      Cluster              5340690              2        6             9
18      Cluster             10884508              2        5             9
19       Sector              2896845              2        3             8
20      Cluster              9222070              2        5             9
21      Cluster              5298157              2        4             9
22      Cluster              5239290              1        4             9
23      Cluster             10259572              2        5             9
24       Sector             10721998              2        5             8
25      Cluster              5269392              2        4             9
26      Cluster              9114159              2        5             9
27      Cluster              6631680              2        6             9
28      Cluster              5271845              2        4             9
29       Sector              5020976              2        6             8
30      Cluster              3042773              2        7             9
31       Sector             10663179              2        5             8
32      Cluster              3047926              2        7             9
33       Sector              9759822              2        5             8
34       Sector              5962575              2        4             8
35      Cluster              9678994              2        5             9
36       Sector              5972787              2        4             8
37       Sector             10477127              2        5             8
38      Cluster              5257775              2        4             9
39       Sector              2861855              2        3             8
40      Cluster              6820976              2        6             9
41      Cluster              9880607              2        5             9
42      Cluster              5268410              2        4             9
43      Cluster              9339737              2        5             9
44      Cluster              5211041              2        4             9
45       Sector             10099807              2        5             8
46      Cluster              6130724              2        6             9
47       Sector             10390732              2        5             8
48       Sector              4992585              2        6             8
49       Sector             10569316              2        5             8

   Jenis Kelamin1 Profesi1 Tipe Residen1
0               1        5             8
1               2        3             9
2               1        4             9
3               1        4             9
4               2        5             9
5               2        4             9
6               1        5             8
7               1        4             9
8               2        4             8
9               1        4             9
10              2        4             8
11              2        4             8
12              2        5             9
13              1        5             9
14              2        5             9
15              1        4             9
16              2        6             9
17              2        6             9
18              2        5             9
19              2        3             8
20              2        5             9
21              2        4             9
22              1        4             9
23              2        5             9
24              2        5             8
25              2        4             9
26              2        5             9
27              2        6             9
28              2        4             9
29              2        6             8
30              2        7             9
31              2        5             8
32              2        7             9
33              2        5             8
34              2        4             8
35              2        5             9
36              2        4             8
37              2        5             8
38              2        4             9
39              2        3             8
40              2        6             9
41              2        5             9
42              2        4             9
43              2        5             9
44              2        4             9
45              2        5             8
46              2        6             9
47              2        5             8
48              2        6             8
49              2        5             8

In [ ]:
# Normalisasi kolom 'NilaiBelanjaSetahun'
pelanggan["NilaiBelanjaSetahun"] = pelanggan["NilaiBelanjaSetahun"] / 1000000

# Menampilkan hasil
print(pelanggan)

   Customer_ID         Nama Pelanggan Jenis Kelamin  Umur           Profesi  \
0     CUST-001           Budi Anggara          Pria    58        Wiraswasta
1     CUST-002       Shirley Ratuwati        Wanita    14           Pelajar
2     CUST-003           Agus Cahyono          Pria    48      Professional
3     CUST-004       Antonius Winarta          Pria    53      Professional
4     CUST-005    Ibu Sri Wahyuni, IR        Wanita    41        Wiraswasta
5     CUST-006        Rosalina Kurnia        Wanita    24      Professional
6     CUST-007          Cahyono, Agus          Pria    64        Wiraswasta
7     CUST-008         Danang Santosa          Pria    52      Professional
8     CUST-009  Elisabeth Suryadinata        Wanita    29      Professional
9     CUST-010         Mario Setiawan          Pria    33      Professional
10    CUST-011         Maria Suryawan        Wanita    50      Professional
11    CUST-012        Erliana Widjaja        Wanita    49      Professional
12    CUST-013           Cahaya Putri        Wanita    64        Wiraswasta
13    CUST-014         Mario Setiawan          Pria    60        Wiraswasta
14    CUST-015       Shirley Ratuwati        Wanita    20        Wiraswasta
15    CUST-016           Bambang Rudi          Pria    35      Professional
16    CUST-017              Yuni Sari        Wanita    32  Ibu Rumah Tangga
17    CUST-018            Nelly Halim        Wanita    63  Ibu Rumah Tangga
18    CUST-019           Mega Pranoto        Wanita    32        Wiraswasta
19    CUST-020         Irene Novianto        Wanita    16           Pelajar
20    CUST-021       Lestari Fabianto        Wanita    38        Wiraswasta
21    CUST-022           Novita Purba        Wanita    52      Professional
22    CUST-023        Denny Amiruddin          Pria    34      Professional
23    CUST-024          Putri Ginting        Wanita    39        Wiraswasta
24    CUST-025         Julia Setiawan        Wanita    29        Wiraswasta
25    CUST-026      Christine Winarto        Wanita    55      Professional
26    CUST-027          Grace Mulyati        Wanita    35        Wiraswasta
27    CUST-028          Adeline Huang        Wanita    40  Ibu Rumah Tangga
28    CUST-029           Tia Hartanti        Wanita    56      Professional
29    CUST-030         Rosita Saragih        Wanita    46  Ibu Rumah Tangga
30    CUST-031          Eviana Handry        Wanita    19         Mahasiswa
31    CUST-032        Chintya Winarni        Wanita    47        Wiraswasta
32    CUST-033        Cecilia Kusnadi        Wanita    19         Mahasiswa
33    CUST-034         Deasy Arisandi        Wanita    21        Wiraswasta
34    CUST-035                Ida Ayu        Wanita    39      Professional
35    CUST-036         Ni Made Suasti        Wanita    30        Wiraswasta
36    CUST-037       Felicia Tandiono        Wanita    25      Professional
37    CUST-038           Agatha Salim        Wanita    46        Wiraswasta
38    CUST-039           Gina Hidayat        Wanita    20      Professional
39    CUST-040         Irene Darmawan        Wanita    14           Pelajar
40    CUST-041       Shinta Aritonang        Wanita    24  Ibu Rumah Tangga
41    CUST-042           Yuliana Wati        Wanita    26        Wiraswasta
42    CUST-043           Yenna Sumadi        Wanita    31      Professional
43    CUST-044                   Anna        Wanita    18        Wiraswasta
44    CUST-045         Rismawati Juni        Wanita    22      Professional
45    CUST-046           Elfira Surya        Wanita    25        Wiraswasta
46    CUST-047            Mira Kurnia        Wanita    55  Ibu Rumah Tangga
47    CUST-048       Maria Hutagalung        Wanita    45        Wiraswasta
48    CUST-049        Josephine Wahab        Wanita    33  Ibu Rumah Tangga
49    CUST-050         Lianna Nugraha        Wanita    55        Wiraswasta

   Tipe Residen  NilaiBelanjaSetahun Jenis Kelamin1 Profesi1 Tipe Residen1
0        Sector             9.497927              1        5             8
1       Cluster             2.722700              2        3             9
2       Cluster             5.286429              1        4             9
3       Cluster             5.204498              1        4             9
4       Cluster            10.615206              2        5             9
5       Cluster             5.215541              2        4             9
6        Sector             9.837260              1        5             8
7       Cluster             5.223569              1        4             9
8        Sector             5.993218              2        4             8
9       Cluster             5.257448              1        4             9
10       Sector             5.987367              2        4             8
11       Sector             5.941914              2        4             8
12      Cluster             9.333168              2        5             9
13      Cluster             9.471615              1        5             9
14      Cluster            10.365668              2        5             9
15      Cluster             5.262521              1        4             9
16      Cluster             5.677762              2        6             9
17      Cluster             5.340690              2        6             9
18      Cluster            10.884508              2        5             9
19       Sector             2.896845              2        3             8
20      Cluster             9.222070              2        5             9
21      Cluster             5.298157              2        4             9
22      Cluster             5.239290              1        4             9
23      Cluster            10.259572              2        5             9
24       Sector            10.721998              2        5             8
25      Cluster             5.269392              2        4             9
26      Cluster             9.114159              2        5             9
27      Cluster             6.631680              2        6             9
28      Cluster             5.271845              2        4             9
29       Sector             5.020976              2        6             8
30      Cluster             3.042773              2        7             9
31       Sector            10.663179              2        5             8
32      Cluster             3.047926              2        7             9
33       Sector             9.759822              2        5             8
34       Sector             5.962575              2        4             8
35      Cluster             9.678994              2        5             9
36       Sector             5.972787              2        4             8
37       Sector            10.477127              2        5             8
38      Cluster             5.257775              2        4             9
39       Sector             2.861855              2        3             8
40      Cluster             6.820976              2        6             9
41      Cluster             9.880607              2        5             9
42      Cluster             5.268410              2        4             9
43      Cluster             9.339737              2        5             9
44      Cluster             5.211041              2        4             9
45       Sector            10.099807              2        5             8
46      Cluster             6.130724              2        6             9
47       Sector            10.390732              2        5             8
48       Sector             4.992585              2        6             8
49       Sector            10.569316              2        5             8

In [ ]:
# Mengonversi kolom tertentu menjadi matriks (numpy array)
pelanggan_matrix = pelanggan[["Jenis Kelamin1", "Profesi1", "Tipe Residen1"]].values

# Menambahkan kolom matriks tersebut ke DataFrame 'pelanggan'
for i, col in enumerate(["Jenis Kelamin1", "Profesi1", "Tipe Residen1"]):
    pelanggan[col + "_matrix"] = pelanggan_matrix[:, i]

# Mengonversi kolom 'NilaiBelanjaSetahun' menjadi dalam satuan jutaan
pelanggan["NilaiBelanjaSetahun"] = pelanggan["NilaiBelanjaSetahun"] / 1000000

# Mengisi data master
Profesi = pelanggan[["Profesi", "Profesi1"]].drop_duplicates()
Jenis_Kelamin = pelanggan[["Jenis Kelamin", "Jenis Kelamin1"]].drop_duplicates()
Tipe_Residen = pelanggan[["Tipe Residen", "Tipe Residen1"]].drop_duplicates()

In [ ]:
pelanggan

,Customer_ID,Nama Pelanggan,Jenis Kelamin,Umur,Profesi,Tipe Residen,NilaiBelanjaSetahun,Jenis Kelamin1,Profesi1,Tipe Residen1,Jenis Kelamin1_matrix,Profesi1_matrix,Tipe Residen1_matrix
0,CUST-001,Budi Anggara,Pria,58,Wiraswasta,Sector,0.000009,1,5,8,1,5,8
1,CUST-002,Shirley Ratuwati,Wanita,14,Pelajar,Cluster,0.000003,2,3,9,2,3,9
2,CUST-003,Agus Cahyono,Pria,48,Professional,Cluster,0.000005,1,4,9,1,4,9
3,CUST-004,Antonius Winarta,Pria,53,Professional,Cluster,0.000005,1,4,9,1,4,9
4,CUST-005,"Ibu Sri Wahyuni, IR",Wanita,41,Wiraswasta,Cluster,0.000011,2,5,9,2,5,9
5,CUST-006,Rosalina Kurnia,Wanita,24,Professional,Cluster,0.000005,2,4,9,2,4,9
6,CUST-007,"Cahyono, Agus",Pria,64,Wiraswasta,Sector,0.000010,1,5,8,1,5,8
7,CUST-008,Danang Santosa,Pria,52,Professional,Cluster,0.000005,1,4,9,1,4,9
8,CUST-009,Elisabeth Suryadinata,Wanita,29,Professional,Sector,0.000006,2,4,8,2,4,8
9,CUST-010,Mario Setiawan,Pria,33,Professional,Cluster,0.000005,1,4,9,1,4,9
10,CUST-011,Maria Suryawan,Wanita,50,Professional,Sector,0.000006,2,4,8,2,4,8
11,CUST-012,Erliana Widjaja,Wanita,49,Professional,Sector,0.000006,2,4,8,2,4,8
12,CUST-013,Cahaya Putri,Wanita,64,Wiraswasta,Cluster,0.000009,2,5,9,2,5,9
13,CUST-014,Mario Setiawan,Pria,60,Wiraswasta,Cluster,0.000009,1,5,9,1,5,9
14,CUST-015,Shirley Ratuwati,Wanita,20,Wiraswasta,Cluster,0.000010,2,5,9,2,5,9
15,CUST-016,Bambang Rudi,Pria,35,Professional,Cluster,0.000005,1,4,9,1,4,9
16,CUST-017,Yuni Sari,Wanita,32,Ibu Rumah Tangga,Cluster,0.000006,2,6,9,2,6,9
17,CUST-018,Nelly Halim,Wanita,63,Ibu Rumah Tangga,Cluster,0.000005,2,6,9,2,6,9
18,CUST-019,Mega Pranoto,Wanita,32,Wiraswasta,Cluster,0.000011,2,5,9,2,5,9
19,CUST-020,Irene Novianto,Wanita,16,Pelajar,Sector,0.000003,2,3,8,2,3,8
20,CUST-021,Lestari Fabianto,Wanita,38,Wiraswasta,Cluster,0.000009,2,5,9,2,5,9
21,CUST-022,Novita Purba,Wanita,52,Professional,Cluster,0.000005,2,4,9,2,4,9
22,CUST-023,Denny Amiruddin,Pria,34,Professional,Cluster,0.000005,1,4,9,1,4,9
23,CUST-024,Putri Ginting,Wanita,39,Wiraswasta,Cluster,0.000010,2,5,9,2,5,9
24,CUST-025,Julia Setiawan,Wanita,29,Wiraswasta,Sector,0.000011,2,5,8,2,5,8
25,CUST-026,Christine Winarto,Wanita,55,Professional,Cluster,0.000005,2,4,9,2,4,9
26,CUST-027,Grace Mulyati,Wanita,35,Wiraswasta,Cluster,0.000009,2,5,9,2,5,9
27,CUST-028,Adeline Huang,Wanita,40,Ibu Rumah Tangga,Cluster,0.000007,2,6,9,2,6,9
28,CUST-029,Tia Hartanti,Wanita,56,Professional,Cluster,0.000005,2,4,9,2,4,9
29,CUST-030,Rosita Saragih,Wanita,46,Ibu Rumah Tangga,Sector,0.000005,2,6,8,2,6,8
30,CUST-031,Eviana Handry,Wanita,19,Mahasiswa,Cluster,0.000003,2,7,9,2,7,9
31,CUST-032,Chintya Winarni,Wanita,47,Wiraswasta,Sector,0.000011,2,5,8,2,5,8
32,CUST-033,Cecilia Kusnadi,Wanita,19,Mahasiswa,Cluster,0.000003,2,7,9,2,7,9
33,CUST-034,Deasy Arisandi,Wanita,21,Wiraswasta,Sector,0.000010,2,5,8,2,5,8
34,CUST-035,Ida Ayu,Wanita,39,Professional,Sector,0.000006,2,4,8,2,4,8
35,CUST-036,Ni Made Suasti,Wanita,30,Wiraswasta,Cluster,0.000010,2,5,9,2,5,9
36,CUST-037,Felicia Tandiono,Wanita,25,Professional,Sector,0.000006,2,4,8,2,4,8
37,CUST-038,Agatha Salim,Wanita,46,Wiraswasta,Sector,0.000010,2,5,8,2,5,8
38,CUST-039,Gina Hidayat,Wanita,20,Professional,Cluster,0.000005,2,4,9,2,4,9
39,CUST-040,Irene Darmawan,Wanita,14,Pelajar,Sector,0.000003,2,3,8,2,3,8
40,CUST-041,Shinta Aritonang,Wanita,24,Ibu Rumah Tangga,Cluster,0.000007,2,6,9,2,6,9
41,CUST-042,Yuliana Wati,Wanita,26,Wiraswasta,Cluster,0.000010,2,5,9,2,5,9
42,CUST-043,Yenna Sumadi,Wanita,31,Professional,Cluster,0.000005,2,4,9,2,4,9
43,CUST-044,Anna,Wanita,18,Wiraswasta,Cluster,0.000009,2,5,9,2,5,9
44,CUST-045,Rismawati Juni,Wanita,22,Professional,Cluster,0.000005,2,4,9,2,4,9
45,CUST-046,Elfira Surya,Wanita,25,Wiraswasta,Sector,0.000010,2,5,8,2,5,8
46,CUST-047,Mira Kurnia,Wanita,55,Ibu Rumah Tangga,Cluster,0.000006,2,6,9,2,6,9
47,CUST-048,Maria Hutagalung,Wanita,45,Wiraswasta,Sector,0.000010,2,5,8,2,5,8
48,CUST-049,Josephine Wahab,Wanita,33,Ibu Rumah Tangga,Sector,0.000005,2,6,8,2,6,8
49,CUST-050,Lianna Nugraha,Wanita,55,Wiraswasta,Sector,0.000011,2,5,8,2,5,8

# **Fungsi kmeans**
Praktek kali ini kita akan melakukan segmentasi langsung pada data pelanggan – yang telah kita lakukan persiapan datanya pada bab sebelumnya – dengan menggunakan function kmeans.

 Function kmeans memerlukan minimal 2 parameter, yaitu:

x: data yang digunakan, dimana semua isi datanya harus berupa numerik.

centers: jumlah cluster yang diinginkan.


Dan fungsi kmeans ini biasanya disertai dengan pemanggilan function seet.seed. Ini berguna agar kita "menyeragamkan" daftar nilai acak yang sama dari kmeans sehingga kita mendapatkan output yang sama.

Berikut adalah contoh penggunaan fungsi kombinasi set.seed dan kmean.

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np

# Normalisasi kolom "NilaiBelanjaSetahun"
pelanggan["NilaiBelanjaSetahun"] = pelanggan["NilaiBelanjaSetahun"] / 1000000

# Menentukan field yang akan digunakan dalam clustering
field_yang_digunakan = ["Jenis Kelamin1", "Umur", "Profesi1", "Tipe Residen1", "NilaiBelanjaSetahun"]

# Menetapkan seed agar hasil konsisten
np.random.seed(1)

# Membentuk 5 cluster dengan K-Means dan 25 skenario random
kmeans = KMeans(n_clusters=5, n_init=25, random_state=1)
segmentasi = kmeans.fit(pelanggan[field_yang_digunakan])

# Menampilkan hasil clustering
print("Cluster Centers:")
print(segmentasi.cluster_centers_)

print("\nCluster Labels:")
print(segmentasi.labels_)

print("\nWithin Cluster Sum of Squares by Cluster:")
print(segmentasi.inertia_)

print("\nAvailable Components:")
print("cluster, centers, totss, withiness, tot.withinss, betweenness, size, iter, ifault")

Cluster Centers:
[[2.00000000e+00 2.70000000e+01 4.66666667e+00 8.55555556e+00
  7.73914867e-12]
 [1.66666667e+00 5.88888889e+01 5.00000000e+00 8.66666667e+00
  7.85799300e-12]
 [2.00000000e+00 1.83000000e+01 4.60000000e+00 8.70000000e+00
  5.45061420e-12]
 [1.70000000e+00 4.88000000e+01 4.50000000e+00 8.40000000e+00
  6.94939480e-12]
 [1.75000000e+00 3.59166667e+01 4.91666667e+00 8.83333333e+00
  7.42661467e-12]]

Cluster Labels:
[1 2 3 3 4 0 1 3 0 4 3 3 1 1 2 4 4 1 4 2 4 3 4 4 0 1 4 4 1 3 2 3 2 2 4 0 0
 3 2 2 0 0 0 2 2 0 1 3 4 1]

Within Cluster Sum of Squares by Cluster:
504.06111111111113

Available Components:
cluster, centers, totss, withiness, tot.withinss, betweenness, size, iter, ifault

# **Analisa Hasil Clustering Vector**[teks link](https://)


![download.png]()

Clustering vector ini adalah rangkaian vector yang berisi angka cluster. Dari hasil kita, vector berisi angka 1 sampai dengan 5, maksimum sesuai dengan jumlah cluster yang kita inginkan.

Vector ini dimulai dari angka 2, yang artinya data pertama dari dataset kita akan dialokasikan pada nomor cluster 2. Dari gambar juga terlihat isi vector kedua bernlai 1, ini artinya data kedua dari dataset kita dialokasikan pada nomor cluster 1, dan seterusnya. Posisi data terakhir (ke-50) memiliki nomor cluster 5.

Hasil ini dapat diakses dengan komponen cluster dari objek hasil seperti berikut:

**segmentasi$cluster**

Ini akan mendapatkan hasil yang sama dengan gambar di atas.

In [ ]:
# Menentukan field yang akan digunakan dalam clustering
field_yang_digunakan = ["Jenis Kelamin1", "Umur", "Profesi1", "Tipe Residen1", "NilaiBelanjaSetahun"]

# Menetapkan seed agar hasil konsisten
np.random.seed(1)

# Melakukan clustering dengan K-Means
kmeans = KMeans(n_clusters=5, n_init=25, random_state=1)
pelanggan['cluster'] = kmeans.fit_predict(pelanggan[field_yang_digunakan]) + 1  # +1 untuk menyesuaikan numbering dengan R

# Menampilkan hasil cluster dan struktur data
print("Cluster Labels:")
print(pelanggan['cluster'].values)

print("\nStruktur Data Pelanggan:")
print(pelanggan.info())

# Menampilkan beberapa baris data untuk memastikan penambahan kolom cluster
print("\nData Pelanggan dengan Cluster:")
print(pelanggan.head(10))

Cluster Labels:
[2 3 4 4 5 1 2 4 1 5 4 4 2 2 3 5 5 2 5 3 5 4 5 5 1 2 5 5 2 4 3 4 3 3 5 1 1
 4 3 3 1 1 1 3 3 1 2 4 5 2]

Struktur Data Pelanggan:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer_ID            50 non-null     object
 1   Nama Pelanggan         50 non-null     object
 2   Jenis Kelamin          50 non-null     object
 3   Umur                   50 non-null     int64
 4   Profesi                50 non-null     object
 5   Tipe Residen           50 non-null     object
 6   NilaiBelanjaSetahun    50 non-null     float64
 7   Jenis Kelamin1         50 non-null     object
 8   Profesi1               50 non-null     object
 9   Tipe Residen1          50 non-null     object
 10  Jenis Kelamin1_matrix  50 non-null     object
 11  Profesi1_matrix        50 non-null     object
 12  Tipe Residen1_matrix   50 non-null     object
 13  cluster                50 non-null     int32
dtypes: float64(1), int32(1), int64(1), object(11)
memory usage: 5.4+ KB
None

Data Pelanggan dengan Cluster:
  Customer_ID         Nama Pelanggan Jenis Kelamin  Umur       Profesi  \
0    CUST-001           Budi Anggara          Pria    58    Wiraswasta
1    CUST-002       Shirley Ratuwati        Wanita    14       Pelajar
2    CUST-003           Agus Cahyono          Pria    48  Professional
3    CUST-004       Antonius Winarta          Pria    53  Professional
4    CUST-005    Ibu Sri Wahyuni, IR        Wanita    41    Wiraswasta
5    CUST-006        Rosalina Kurnia        Wanita    24  Professional
6    CUST-007          Cahyono, Agus          Pria    64    Wiraswasta
7    CUST-008         Danang Santosa          Pria    52  Professional
8    CUST-009  Elisabeth Suryadinata        Wanita    29  Professional
9    CUST-010         Mario Setiawan          Pria    33  Professional

  Tipe Residen  NilaiBelanjaSetahun Jenis Kelamin1 Profesi1 Tipe Residen1  \
0       Sector         9.497927e-12              1        5             8
1      Cluster         2.722700e-12              2        3             9
2      Cluster         5.286429e-12              1        4             9
3      Cluster         5.204498e-12              1        4             9
4      Cluster         1.061521e-11              2        5             9
5      Cluster         5.215541e-12              2        4             9
6       Sector         9.837260e-12              1        5             8
7      Cluster         5.223569e-12              1        4             9
8       Sector         5.993218e-12              2        4             8
9      Cluster         5.257448e-12              1        4             9

  Jenis Kelamin1_matrix Profesi1_matrix Tipe Residen1_matrix  cluster
0                     1               5                    8        2
1                     2               3                    9        3
2                     1               4                    9        4
3                     1               4                    9        4
4                     2               5                    9        5
5                     2               4                    9        1
6                     1               5                    8        2
7                     1               4                    9        4
8                     2               4                    8        1
9                     1               4                    9        5

# **Analisa Hasil Cluster Size**

Tahap berikutnya, Kita akan analisa hasil pada bagian pertama
**K-means clustering with 5 clusters of sizes 14, 5, 9, 12, 10**
Ini artinya dengan k-means kita telah membagi dataset pelanggan dengan 5 cluster, dimana:

*   Cluster ke-1 memiliki 14 data
*   Cluster ke-2 memiliki 5 data
*   Cluster ke-3 memiliki 9 data
*   Cluster ke-4 memiliki 12 data
*   Cluster ke-5 memiliki 10 data
Dengan jumlah total 50 data, yang juga merupakan jumlah data total pelanggan.

Mari kita verifikasi hal tersebut dengan memulai dari cluster 1. Ambil data pelanggan yang isi dari kolom clusternya adalah 1 dengan menggunakan fungsi which, seperti perintah berikut pada live code editor di bawah komentar #Filter cluster ke-1.

**which(pelanggan$cluster == 1)**

Anda seharusnya dapatkan hasil sebagai berikut:

**[1]  2  6 15 20 31 33 34 37 39 40 41 44 45 46**

Hasil di atas menunjukkan 14 angka posisi data untuk cluster 1. Banyaknya angka pada deretan ini sesuai ukuran untuk cluster ke-1 dari informasi di atas.

Sekarang cobalah hitung jumlah deretan dengan menambahkan perintah length pada fungsi which seperti berikut:

**length(which(pelanggan$cluster == 1))**

Jika dijalankan maka akan didapatkan angka 14.

Dalam codingan ini kita akan menampilkan

Tampilkan ukuran cluster ke-2 dari pelanggan

In [ ]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

# Menetapkan seed agar hasil konsisten
np.random.seed(1)

# Melakukan K-Means clustering
kmeans = KMeans(n_clusters=5, n_init=25, random_state=1)
pelanggan['cluster'] = kmeans.fit_predict(pelanggan[field_yang_digunakan]) + 1  # +1 agar cluster mulai dari 1

# Menampilkan hasil cluster
print("Cluster Labels:")
print(pelanggan['cluster'].values)

# Analisa hasil - mencari data yang ada di cluster 1
cluster_1_indices = np.where(pelanggan['cluster'] == 1)[0]
print("\nIndeks pelanggan yang termasuk dalam cluster ke-1:")
print(cluster_1_indices + 1)  # Menambahkan 1 untuk menyesuaikan dengan indexing 1-based pada R

# Menghitung jumlah pelanggan yang ada di cluster 2
cluster_2_count = np.sum(pelanggan['cluster'] == 2)
print("\nJumlah pelanggan yang termasuk dalam cluster ke-2:")
print(cluster_2_count)

Cluster Labels:
[2 3 4 4 5 1 2 4 1 5 4 4 2 2 3 5 5 2 5 3 5 4 5 5 1 2 5 5 2 4 3 4 3 3 5 1 1
 4 3 3 1 1 1 3 3 1 2 4 5 2]

Indeks pelanggan yang termasuk dalam cluster ke-1:
[ 6  9 25 36 37 41 42 43 46]

Jumlah pelanggan yang termasuk dalam cluster ke-2:
9

In [ ]:
print(pelanggan)

   Customer_ID         Nama Pelanggan Jenis Kelamin  Umur           Profesi  \
0     CUST-001           Budi Anggara          Pria    58        Wiraswasta
1     CUST-002       Shirley Ratuwati        Wanita    14           Pelajar
2     CUST-003           Agus Cahyono          Pria    48      Professional
3     CUST-004       Antonius Winarta          Pria    53      Professional
4     CUST-005    Ibu Sri Wahyuni, IR        Wanita    41        Wiraswasta
5     CUST-006        Rosalina Kurnia        Wanita    24      Professional
6     CUST-007          Cahyono, Agus          Pria    64        Wiraswasta
7     CUST-008         Danang Santosa          Pria    52      Professional
8     CUST-009  Elisabeth Suryadinata        Wanita    29      Professional
9     CUST-010         Mario Setiawan          Pria    33      Professional
10    CUST-011         Maria Suryawan        Wanita    50      Professional
11    CUST-012        Erliana Widjaja        Wanita    49      Professional
12    CUST-013           Cahaya Putri        Wanita    64        Wiraswasta
13    CUST-014         Mario Setiawan          Pria    60        Wiraswasta
14    CUST-015       Shirley Ratuwati        Wanita    20        Wiraswasta
15    CUST-016           Bambang Rudi          Pria    35      Professional
16    CUST-017              Yuni Sari        Wanita    32  Ibu Rumah Tangga
17    CUST-018            Nelly Halim        Wanita    63  Ibu Rumah Tangga
18    CUST-019           Mega Pranoto        Wanita    32        Wiraswasta
19    CUST-020         Irene Novianto        Wanita    16           Pelajar
20    CUST-021       Lestari Fabianto        Wanita    38        Wiraswasta
21    CUST-022           Novita Purba        Wanita    52      Professional
22    CUST-023        Denny Amiruddin          Pria    34      Professional
23    CUST-024          Putri Ginting        Wanita    39        Wiraswasta
24    CUST-025         Julia Setiawan        Wanita    29        Wiraswasta
25    CUST-026      Christine Winarto        Wanita    55      Professional
26    CUST-027          Grace Mulyati        Wanita    35        Wiraswasta
27    CUST-028          Adeline Huang        Wanita    40  Ibu Rumah Tangga
28    CUST-029           Tia Hartanti        Wanita    56      Professional
29    CUST-030         Rosita Saragih        Wanita    46  Ibu Rumah Tangga
30    CUST-031          Eviana Handry        Wanita    19         Mahasiswa
31    CUST-032        Chintya Winarni        Wanita    47        Wiraswasta
32    CUST-033        Cecilia Kusnadi        Wanita    19         Mahasiswa
33    CUST-034         Deasy Arisandi        Wanita    21        Wiraswasta
34    CUST-035                Ida Ayu        Wanita    39      Professional
35    CUST-036         Ni Made Suasti        Wanita    30        Wiraswasta
36    CUST-037       Felicia Tandiono        Wanita    25      Professional
37    CUST-038           Agatha Salim        Wanita    46        Wiraswasta
38    CUST-039           Gina Hidayat        Wanita    20      Professional
39    CUST-040         Irene Darmawan        Wanita    14           Pelajar
40    CUST-041       Shinta Aritonang        Wanita    24  Ibu Rumah Tangga
41    CUST-042           Yuliana Wati        Wanita    26        Wiraswasta
42    CUST-043           Yenna Sumadi        Wanita    31      Professional
43    CUST-044                   Anna        Wanita    18        Wiraswasta
44    CUST-045         Rismawati Juni        Wanita    22      Professional
45    CUST-046           Elfira Surya        Wanita    25        Wiraswasta
46    CUST-047            Mira Kurnia        Wanita    55  Ibu Rumah Tangga
47    CUST-048       Maria Hutagalung        Wanita    45        Wiraswasta
48    CUST-049        Josephine Wahab        Wanita    33  Ibu Rumah Tangga
49    CUST-050         Lianna Nugraha        Wanita    55        Wiraswasta

   Tipe Residen  NilaiBelanjaSetahun Jenis Kelamin1 Profesi1 Tipe Residen1  \
0        Sector         9.497927e-12              1        5             8
1       Cluster         2.722700e-12              2        3             9
2       Cluster         5.286429e-12              1        4             9
3       Cluster         5.204498e-12              1        4             9
4       Cluster         1.061521e-11              2        5             9
5       Cluster         5.215541e-12              2        4             9
6        Sector         9.837260e-12              1        5             8
7       Cluster         5.223569e-12              1        4             9
8        Sector         5.993218e-12              2        4             8
9       Cluster         5.257448e-12              1        4             9
10       Sector         5.987367e-12              2        4             8
11       Sector         5.941914e-12              2        4             8
12      Cluster         9.333168e-12              2        5             9
13      Cluster         9.471615e-12              1        5             9
14      Cluster         1.036567e-11              2        5             9
15      Cluster         5.262521e-12              1        4             9
16      Cluster         5.677762e-12              2        6             9
17      Cluster         5.340690e-12              2        6             9
18      Cluster         1.088451e-11              2        5             9
19       Sector         2.896845e-12              2        3             8
20      Cluster         9.222070e-12              2        5             9
21      Cluster         5.298157e-12              2        4             9
22      Cluster         5.239290e-12              1        4             9
23      Cluster         1.025957e-11              2        5             9
24       Sector         1.072200e-11              2        5             8
25      Cluster         5.269392e-12              2        4             9
26      Cluster         9.114159e-12              2        5             9
27      Cluster         6.631680e-12              2        6             9
28      Cluster         5.271845e-12              2        4             9
29       Sector         5.020976e-12              2        6             8
30      Cluster         3.042773e-12              2        7             9
31       Sector         1.066318e-11              2        5             8
32      Cluster         3.047926e-12              2        7             9
33       Sector         9.759822e-12              2        5             8
34       Sector         5.962575e-12              2        4             8
35      Cluster         9.678994e-12              2        5             9
36       Sector         5.972787e-12              2        4             8
37       Sector         1.047713e-11              2        5             8
38      Cluster         5.257775e-12              2        4             9
39       Sector         2.861855e-12              2        3             8
40      Cluster         6.820976e-12              2        6             9
41      Cluster         9.880607e-12              2        5             9
42      Cluster         5.268410e-12              2        4             9
43      Cluster         9.339737e-12              2        5             9
44      Cluster         5.211041e-12              2        4             9
45       Sector         1.009981e-11              2        5             8
46      Cluster         6.130724e-12              2        6             9
47       Sector         1.039073e-11              2        5             8
48       Sector         4.992585e-12              2        6             8
49       Sector         1.056932e-11              2        5             8

   Jenis Kelamin1_matrix Profesi1_matrix Tipe Residen1_matrix  cluster
0                      1               5                    8        2
1                      2               3                    9        3
2                      1               4                    9        4
3                      1               4                    9        4
4                      2               5                    9        5
5                      2               4                    9        1
6                      1               5                    8        2
7                      1               4                    9        4
8                      2               4                    8        1
9                      1               4                    9        5
10                     2               4                    8        4
11                     2               4                    8        4
12                     2               5                    9        2
13                     1               5                    9        2
14                     2               5                    9        3
15                     1               4                    9        5
16                     2               6                    9        5
17                     2               6                    9        2
18                     2               5                    9        5
19                     2               3                    8        3
20                     2               5                    9        5
21                     2               4                    9        4
22                     1               4                    9        5
23                     2               5                    9        5
24                     2               5                    8        1
25                     2               4                    9        2
26                     2               5                    9        5
27                     2               6                    9        5
28                     2               4                    9        2
29                     2               6                    8        4
30                     2               7                    9        3
31                     2               5                    8        4
32                     2               7                    9        3
33                     2               5                    8        3
34                     2               4                    8        5
35                     2               5                    9        1
36                     2               4                    8        1
37                     2               5                    8        4
38                     2               4                    9        3
39                     2               3                    8        3
40                     2               6                    9        1
41                     2               5                    9        1
42                     2               4                    9        1
43                     2               5                    9        3
44                     2               4                    9        3
45                     2               5                    8        1
46                     2               6                    9        2
47                     2               5                    8        4
48                     2               6                    8        5
49                     2               5                    8        2

# Melihat Data pada Cluster ke-N

Sejauh ini, kita belum melihat data hasil cluster. Pastinya, penasaran untuk melihat hasil tersebut, bukan?

Ini dapat dihasilkan dengan cukup mudah setelah kita ikuti praktek sebelumnya, dimana hasil cluster telah diintegrasikan dan juga mengerti cara filter baris-baris data (data rows) dengan which.

Berikut adalah perintah yang dapat diketikkan pada code editor (di bawah comment #Melihat data cluster ke-1) untuk melihat seluruh data pada cluster ke-1

pelanggan[which(pelanggan$cluster == 1),] Jika berhasil dieksekusinya, hasilnya akan terlihat sebagai berikut.

![image.png]()

dimana ada 14 data denangan seluruh data berjenis kelamin wanita dan umur antara 14 s/d 25 tahun. Penghasilan, profesi, nilai belanja dan tipe residen cukup bervariasi.

Dan ubahlah perintah untuk melihat cluster ke-2.

pelanggan[which(pelanggan$cluster == 2),]

Akan tampil data sebagai berikut, dimana terlihat umur mayoritas sudah masuk usia 50 tahun ke atas dan kebanyakan adalah wiraswasta kecuali satu yang ibu rumah tangga. Dan rata-rata nilai belanja adalah sekitar 9 juta, kecuali yang berprofesi ibu rumah tangga.

![image.png]()

**Analisa Hasil Cluster Means**
Cluster means adalah hasil nilai rata-rata atau titik sentral (centroid) dari seluruh titik tiap cluster.
![image.png]()

Apa artinya hasil tersebut?

Kolom pertama yang berisi angka 1 sampai dengan 5 adalah mewakili nomor cluster.
Kolom Kelamin.1 menunjukkan nilai rata-rata dari data jenis kelamin yang telah dikonversi menjadi numerik, dengan angka 1 mewakili Pria dan angka 2 mewakili wanita.

Pada cluster 1 terlihat bahwa hanya ada angka 2, artinya cluster 1 hanya berisi data dengan profil berjenis kelamin wanita. Nah, untuk cluster ke-2 berupa angka 1.40 artinya data bersifat campuran namun cenderung ke Pria (1).

Kedua interpretasi angka ini sesuai dengan hasil praktek "Melihat Data pada Cluster-N".



Kolom Umur adalah representasi dari dataset awal tanpa mengalami konversi. Terlihat untuk cluster ke-1 umur rata-rata adalah 20 tahun, umur 61 tahun untuk cluster ke-2, dan seterusnya.


Kolom Profesi.1 menunjukkan nilai rata-rata data Profesi untuk tiap cluster yang telah dikonversi menjadi numerik, yaitu angka 1 s/d 5.

Angka 1, 2, 3, 4, dan 5 di kolom ini masing-masingnya secara berurutan mewakili Ibu Rumah Tangga, Mahasiswa, Pelajar, Professional, dan Wiraswasta. Terlihat untuk seluruh cluster bahwa nilai profesi berada dalam rentang 3.5 s/d 4.2 (3.5< profesi <= 4.2). Hal ini menunjukkan bahwa profesi cenderung ke ke Professional, dan secara tegas cluster keempat memiliki profesi berupa Professional.


Kolom Tipe.Residen.1 menunjukkan representasi data Tipe.Residen yang telah dikonversi menjadi numerik dengan angka 1 mewakili Cluster dan 2 mewakili Sector. Ini juga didapatkan dari hasil konversi data menjadi numerik pada praktek sebelumnya.

Untuk seluruh cluster, terlihat data cukup tersebar antara Sector dan Cluster terutama untuk cluster ke-4 dimana nilai kolom ini di angka 1.555.


Terakhir, kolom NilaiBelanjaSetahun cukup signifikan pembagiannya untuk tiap cluster. Cluster ke-2 dan ke-4 memiliki nilai belanja lebih tinggi dibandingkan ketiga cluster lainnya.


Ini mungkin target customer yang bisa lebih disasar melalui marketing campaign, karena cluster ke-2 saat ini hanya berisi 5 data. Cukup kecil proporsinya, dan ingin ditingkatkan.

Ini terlihat dari hasil output kmeans bagian pertama yang menunjukkan distribusi jumlah data dari tiap cluster:
***K-means clustering with 5 clusters of sizes 14, 5, 9, 12, 10***

# Analisa Hasil Cluster Means
Cluster means adalah hasil nilai rata-rata atau titik sentral (centroid) dari seluruh titik tiap cluster.
![image.png]()

Apa artinya hasil tersebut?

Kolom pertama yang berisi angka 1 sampai dengan 5 adalah mewakili nomor cluster.
Kolom Kelamin.1 menunjukkan nilai rata-rata dari data jenis kelamin yang telah dikonversi menjadi numerik, dengan angka 1 mewakili Pria dan angka 2 mewakili wanita.

Pada cluster 1 terlihat bahwa hanya ada angka 2, artinya cluster 1 hanya berisi data dengan profil berjenis kelamin wanita. Nah, untuk cluster ke-2 berupa angka 1.40 artinya data bersifat campuran namun cenderung ke Pria (1).

Kedua interpretasi angka ini sesuai dengan hasil praktek "Melihat Data pada Cluster-N".
1. Kolom Umur adalah representasi dari dataset awal tanpa mengalami konversi. Terlihat untuk cluster ke-1 umur rata-rata adalah 20 tahun, umur 61 tahun untuk cluster ke-2, dan seterusnya.
2. Kolom Profesi.1 menunjukkan nilai rata-rata data Profesi untuk tiap cluster yang telah dikonversi menjadi numerik, yaitu angka 1 s/d 5. Angka 1, 2, 3, 4, dan 5 di kolom ini masing-masingnya secara berurutan mewakili Ibu Rumah Tangga, Mahasiswa, Pelajar, Professional, dan Wiraswasta. Terlihat untuk seluruh cluster bahwa nilai profesi berada dalam rentang 3.5 s/d 4.2 (3.5< profesi <= 4.2). Hal ini menunjukkan bahwa profesi cenderung ke ke Professional, dan secara tegas cluster keempat memiliki profesi berupa Professional.
3. Kolom Tipe.Residen.1 menunjukkan representasi data Tipe.Residen yang telah dikonversi menjadi numerik dengan angka 1 mewakili Cluster dan 2 mewakili Sector. Ini juga didapatkan dari hasil konversi data menjadi numerik pada praktek sebelumnya. Untuk seluruh cluster, terlihat data cukup tersebar antara Sector dan Cluster terutama untuk cluster ke-4 dimana nilai kolom ini di angka 1.555.
4. Terakhir, kolom NilaiBelanjaSetahun cukup signifikan pembagiannya untuk tiap cluster. Cluster ke-2 dan ke-4 memiliki nilai belanja lebih tinggi dibandingkan ketiga cluster lainnya.
Ini mungkin target customer yang bisa lebih disasar melalui marketing campaign, karena cluster ke-2 saat ini hanya berisi 5 data. Cukup kecil proporsinya, dan ingin ditingkatkan. Ini terlihat dari hasil output kmeans bagian pertama yang menunjukkan distribusi jumlah data dari tiap cluster:
**K-means clustering with 5 clusters of sizes 14, 5, 9, 12, 10**

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np

# Menyimpan field yang digunakan dalam proses clustering
field_yang_digunakan = ["Jenis Kelamin1", "Umur", "Profesi1", "Tipe Residen1", "NilaiBelanjaSetahun"]

# Bagian K-Means
np.random.seed(1)
kmeans = KMeans(n_clusters=5, n_init=25, random_state=1)
pelanggan["cluster"] = kmeans.fit_predict(pelanggan[field_yang_digunakan])

# Analisa Hasil
# Melihat cluster means dari objek
centers = pd.DataFrame(kmeans.cluster_centers_, columns=field_yang_digunakan)
print("Cluster Centers:")
print(centers)

ValueError: could not convert string to float: 'Pria'